<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet" />
    <link href="../../css/main.css" rel="stylesheet" />
    {# <script type="text/javascript" src="../../scripts/main.js"></script> #}
    <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.terminal/js/jquery.terminal.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.terminal/css/jquery.terminal.min.css"/>
    <title>
        {% if title %}
            {{title}}
        {%endif%}
    </title>
</head>
    <body>
        <template id="post">{{content | safe}}</template>
        {% include "partials/header.njk" %}
        <script>
            const term = $('body').terminal({},{
            greetings: " "
        });
            term.echo(post.innerHTML, { raw: true})
        </script>
        {# <div class="post">
            {{content | safe}}
        </div> #}

        
    </body>
</html>